body{
background-color:#d0e4fe;
}
h1 {
	font-family: "Verdana";
	color: rgb(245, 175, 26);
	text-align: center;
}
h3{
	font-family: "Times New Roman";
		color: green;
	text-align: left;
	margin-left: 20%;
	font-style: bold;
}
img{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
p{
	font-family: "arial";
	font-size: 20px;
}
.content{

	text-align: left;
	margin-left: 20%;
	margin-right: 20%;

}
.footer{
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
}
.middle{
	text-align: center;
}
 /* unvisited link */
a:link {
	color: rgb(238, 107, 14);
	font-family: "Courier New";
}

/* visited link */
a:visited {
	color: rgb(89, 0, 255);
	font-family: "Georgia";
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color:  blue;
} 
.icon-bar {
	width: 100%; /* Full-width */
	background-color: #555; /* Dark-grey background */
	overflow: auto; /* Overflow due to float */
  }
  
  .icon-bar a {
	float: left; /* Float links side by side */
	text-align: center; /* Center-align text */
	width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
	padding: 12px 0; /* Some top and bottom padding */
	transition: all 0.3s ease; /* Add transition for hover effects */
	color: white; /* White text color */
	font-size: 36px; /* Increased font size */
  }
  
  .icon-bar a:hover {
	background-color: rgb(116, 81, 119); /* Add a hover color */
  }
  
  .active {
	background-color: rgb(111, 76, 175); /* Add an active/current color */
	}
	
	/* Style the header */
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 22%;
  min-height: 200px;
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  min-height: 200px;
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}